
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h2>About</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  Gigsterとは世の中にある一夜限りの演奏（ギグ）をシェアするサイトです。
                </div>
            </div>
          </div>
        </div>
      </div>

    <%= link_to 'TOPへ戻る', '/' %>
    </div>
