
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h2>about</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  <h4>Gister is share gig and live and concert in the world.</h4><br/>
                  <h4>Gigsterとは世界のギグやライブやコンサートをシェアするサービスです。</h4>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h2>help</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  <h3>--Gig Show--　for User</h3><br/>
                  　　Facebook Login → Gig Register → Gig Search<br/><br/>
                  　　FacebookでLogin → ライブを登録する → ライブを検索する
                 <h3>----Gig House--　for Live House</h3><br/>
                  　　Facebook Login → House Register → House Search<br/><br/>
                  　　FacebookでLogin → ライブハウスを登録する → ライブハウスを検索する
                 <h3>--Gig Artist--　for Artist</h3><br/>
                  　　Facebook Login → Artist Register → Artist Search<br/><br/>
                  　　FacebookでLogin → アーティストを登録する → アーティストを検索する
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h2>info</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  <mai><a href="mailto:gigsterrr@gmail.com">gigsterrr@gmail.com</a>
                </div>
            </div>
          </div>
        </div>

      </div>

    <%= link_to 'TOPへ戻る', '/' %>
    </div>
