
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h2>about</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  Gister is share gig and live and concert in the world.<br/><br/>
                  Gigsterとは世界のギグやライブやコンサートをシェアするサービスです。
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h2>help</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  facebook-login → gig register → gig search<br/><br/>
                  facebookでlogin → gigを登録する → gigを検索する
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h2>info</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  <mai><a href="mailto:gigsterrr@gmail.com">gigsterrr@gmail.com</a>
                </div>
            </div>
          </div>
        </div>

      </div>

    <%= link_to 'TOPへ戻る', '/' %>
    </div>
