
    <div class="container" >

      <div class="page-header" id="banner" align="center" >
            <h2>Gigsterとは</h2>
            <div class="bsa well"  align="center" >
                  <h4>ライブやアーティストをシェアして<br/><br/>
                    自分の好きなライブやアーティストを見つけて<br/><br/>
                  一緒にライブに行く人を見つけるサービスです。</h4>
            </div>

            <h2>使い方</h2>
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                 <h3>ユーザの方へ</h3><br/>
                 <h4>
                  　Faceboo新規会員登録　⇒　ライブを検索する　⇒　お気に入りに入れる<br/>　⇒　同じ音楽が好きな人を探す　⇒　一緒にライブに行く<br/>
                 </h4><br/>
                 <h3>アーティストの方へ</h3><br/>
                 <h4>
                  　Faceboo新規会員登録　⇒　アーティスト情報を登録する　⇒　ライブ情報を登録する<br/>
                 </h4><br/>
                 <h3>ライブハウスの方へ</h3><br/>
                 <h4>
                  　Faceboo新規会員登録　⇒　ライブハウス情報を登録する　⇒　ライブ情報を登録する<br/>
                 </h4>
                </div>
            </div>
        </div>

        <div class="row" align="center" >

          <div class="col-lg-6">
            <h2>お問い合わせ</h2>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19">
                  <mai><a href="mailto:gigsterrr@gmail.com">gigsterrr@gmail.com</a>
                </div>
            </div>
          </div>

          <br/>
          <%= link_to 'TOPへ戻る', '/' %><br/><br/><br/>

        </div>


      </div>

    </div>
